# Pandas 
**DA:**
Formålet er at øge kendskabet til pandas dataframes og nogle praktiske metoder. Pandas er et 'must', hvis man bruger Python til at arbejde data, som er systematiseret og struktureret i rækker og kolonner.

Vi har nogle to mapper med eventyr, og vi arbejder hen imod at på teksterne samlet i en dataframe. Når vi har samlet teksterne der vil vi begynde at undersøge dem.

**EN:**
The purpose is to increase awareness of pandas dataframes and some practical methods. Pandas is a 'must' if you use Python to work with data that is organized and structured in rows and columns.

We have two folders with tales, and we are working towards putting the texts together into a dataframe. Once we have assembled the texts, we will start examining them.

In [1]:
# importer bibliotekerne
import os
from pathlib import Path
import pandas as pd
import re

import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Definer stien til mappen med Grimms eventyr

Define the path to the folder with Grimms' fairy tales."

In [2]:
# sti til mappen med Grimms eventyr
text_folder = Path.cwd() / '../data/txt_files/grimm'
text_files = os.listdir(text_folder)

## Gem titlerne i en liste 

Save the titles in a list.

In [3]:
titles = []
for i in text_files:
    title = str(i[:-4])
    titles.append(title)

print (f'Total antal titler : {len(titles)}.\nTitlerne er: \n{titles}')

Total antal titler : 62.
Titlerne er:
['ASHPUTTEL', 'BRIAR ROSE', 'CAT AND MOUSE IN PARTNERSHIP', 'CAT-SKIN', 'CLEVER ELSIE', 'CLEVER GRETEL', 'CLEVER HANS', 'DOCTOR KNOWALL', 'FREDERICK AND CATHERINE', 'FUNDEVOGEL', 'HANS IN LUCK', 'HANSEL AND GRETEL', 'IRON HANS', 'JORINDA AND JORINDEL', 'KING GRISLY-BEARD', 'LILY AND THE LION', 'LITTLE RED-CAP [LITTLE RED RIDING HOOD]', 'MOTHER HOLLE', 'OLD SULTAN', 'RAPUNZEL', 'RUMPELSTILTSKIN', 'SNOW-WHITE AND ROSE-RED', 'SNOWDROP', 'SWEETHEART ROLAND', 'THE ADVENTURES OF CHANTICLEER AND PARTLET', 'THE BLUE LIGHT', 'THE DOG AND THE SPARROW', 'THE ELVES AND THE SHOEMAKER', 'THE FISHERMAN AND HIS WIFE', 'THE FOUR CLEVER BROTHERS', 'THE FOX AND THE CAT', 'THE FOX AND THE HORSE', 'THE FROG-PRINCE', 'THE GOLDEN BIRD', 'THE GOLDEN GOOSE', 'THE GOOSE-GIRL', 'THE JUNIPER-TREE', 'THE KING OF THE GOLDEN MOUNTAIN', 'THE LITTLE PEASANT', 'THE MISER IN THE BUSH', 'THE MOUSE, THE BIRD, AND THE SAUSAGE', 'THE OLD MAN AND HIS GRANDSON', 'THE PINK', 'THE QUEEN BEE', 'THE RAVEN', 'THE ROBBER BRIDEGROOM', 'THE SALAD', 'THE SEVEN RAVENS', 'THE STORY OF THE YOUTH WHO WENT FORTH TO LEARN WHAT FEAR WAS', 'THE STRAW, THE COAL, AND THE BEAN', 'THE THREE LANGUAGES', 'THE TRAVELLING MUSICIANS', 'THE TURNIP', 'THE TWELVE DANCING PRINCESSES', 'THE TWELVE HUNTSMEN', 'THE VALIANT LITTLE TAILOR', 'THE WATER OF LIFE', 'THE WEDDING OF MRS FOX', 'THE WHITE SNAKE', 'THE WILLOW-WREN AND THE BEAR', 'THE WOLF AND THE SEVEN LITTLE KIDS', 'TOM THUMB']

## Åbn tekstern og gem dem i en liste

Open the texts and save them i a list.

In [4]:
texts = []
for item in text_files:
    with open( text_folder / item, 'r', encoding='utf-8-sig') as f:
        text = f.read()
        texts.append(text)

## Gem data i en dataframe

Store data in a dataframe.

In [5]:
df1 = pd.DataFrame({'title': titles,
                  'text':texts,
                  'author': 'grimms'})

df1

,title,text,author
0,ASHPUTTEL,ASHPUTTEL\n\n\n\n\n\nThe wife of a rich man fe...,grimms
1,BRIAR ROSE,BRIAR ROSE\n\n\n\n\n\nA king and queen once up...,grimms
2,CAT AND MOUSE IN PARTNERSHIP,CAT AND MOUSE IN PARTNERSHIP\n\n\n\n\n\nA cert...,grimms
3,CAT-SKIN,"CAT-SKIN\n\n\n\n\n\nThere was once a king, who...",grimms
4,CLEVER ELSIE,CLEVER ELSIE\n\n\n\n\n\nThere was once a man w...,grimms
...,...,...,...
57,THE WEDDING OF MRS FOX,THE WEDDING OF MRS FOX\n\n\n\n\n\nFIRST STORY\...,grimms
58,THE WHITE SNAKE,THE WHITE SNAKE\n\n\n\n\n\nA long time ago the...,grimms
59,THE WILLOW-WREN AND THE BEAR,THE WILLOW-WREN AND THE BEAR\n\n\n\n\n\nOnce i...,grimms
60,THE WOLF AND THE SEVEN LITTLE KIDS,THE WOLF AND THE SEVEN LITTLE KIDS\n\n\n\n\n\n...,grimms
61,TOM THUMB,TOM THUMB\n\n\n\n\n\nA poor woodman sat in his...,grimms

## Byg funktion af koden ovenfor og lav en dataframe med HCA's eventyr

Vi samler de forskellige kodestykker, som du har skrevet ovenfor. Vi samler den i en celle og bruger dem til at bygge en funktion, som kan bygge emn dataframe fra en mappe med tekster.  


Build a function from the code above and create a dataframe with HCA's fairy tales¶
We're gathering the various code snippets you've written above. We'll collect them into a cell and use them to build a function that can construct a DataFrame from a folder of texts.

In [6]:
# sti til mappen med tekster / path to text folder 
text_folder = Path.cwd() / '../data/txt_files/hca'
text_files = os.listdir(text_folder)

def build_df(text_files, author_name):
    titles = []
    for i in text_files:
        title = str(i[:-4])
        titles.append(title)

    texts = []
    for item in text_files:
        with open( text_folder / item, 'r', encoding='utf-8-sig') as f:
            text = f.read()
            texts.append(text)

    df = pd.DataFrame({'title': titles,
                      'text':texts,
                      'author': author_name})
    
    return df

df2 = build_df(text_files, 'hca')

df2

,title,text,author
0,THE BELL,THE BELL\n\n\n\nPeople said “The Evening Bell ...,hca
1,THE DREAM OF LITTLE TUK,"THE DREAM OF LITTLE TUK\n\n\n\nAh! yes, that w...",hca
2,THE ELDERBUSH,THE ELDERBUSH\n\n\n\nOnce upon a time there wa...,hca
3,THE EMPEROR'S NEW CLOTHES,THE EMPEROR'S NEW CLOTHES\n\n\n\nMany years ag...,hca
4,THE FALSE COLLAR,THE FALSE COLLAR\n\n\n\nThere was once a fine ...,hca
5,THE FIR TREE,THE FIR TREE\n\n\n\nOut in the woods stood a n...,hca
6,THE HAPPY FAMILY,"THE HAPPY FAMILY\n\n\n\nReally, the largest gr...",hca
7,THE LEAP-FROG,"THE LEAP-FROG\n\n\n\nA Flea, a Grasshopper, an...",hca
8,THE LITTLE MATCH GIRL,THE LITTLE MATCH GIRL\n\n\n\nMost terribly col...,hca
9,THE NAUGHTY BOY,"THE NAUGHTY BOY\n\n\n\nAlong time ago, there l...",hca
10,THE OLD HOUSE,"THE OLD HOUSE\n\n\n\nIn the street, up there, ...",hca
11,THE REAL PRINCESS,THE REAL PRINCESS\n\n\n\nThere was once a Prin...,hca
12,THE SHADOW,THE SHADOW\n\n\n\nIt is in the hot lands that ...,hca
13,THE SHOES OF FORTUNE,THE SHOES OF FORTUNE\n\n\n\nI. A Beginning\n\n...,hca
14,THE SNOW QUEEN,THE SNOW QUEEN\n\n\n\nFIRST STORY. Which Treat...,hca
15,THE STORY OF A MOTHER,THE STORY OF A MOTHER\n\n\n\nA mother sat ther...,hca
16,THE SWINEHERD,THE SWINEHERD\n\n\n\nThere was once a poor Pri...,hca

## pd.concat()
Tilføj rækker fra en dataframe til en anden dataframe

Appends rows from one dataframe to another dataframe.

In [7]:
df = pd.concat([df1, df2]).reset_index(drop=True)
df

,title,text,author
0,ASHPUTTEL,ASHPUTTEL\n\n\n\n\n\nThe wife of a rich man fe...,grimms
1,BRIAR ROSE,BRIAR ROSE\n\n\n\n\n\nA king and queen once up...,grimms
2,CAT AND MOUSE IN PARTNERSHIP,CAT AND MOUSE IN PARTNERSHIP\n\n\n\n\n\nA cert...,grimms
3,CAT-SKIN,"CAT-SKIN\n\n\n\n\n\nThere was once a king, who...",grimms
4,CLEVER ELSIE,CLEVER ELSIE\n\n\n\n\n\nThere was once a man w...,grimms
...,...,...,...
74,THE SHADOW,THE SHADOW\n\n\n\nIt is in the hot lands that ...,hca
75,THE SHOES OF FORTUNE,THE SHOES OF FORTUNE\n\n\n\nI. A Beginning\n\n...,hca
76,THE SNOW QUEEN,THE SNOW QUEEN\n\n\n\nFIRST STORY. Which Treat...,hca
77,THE STORY OF A MOTHER,THE STORY OF A MOTHER\n\n\n\nA mother sat ther...,hca
78,THE SWINEHERD,THE SWINEHERD\n\n\n\nThere was once a poor Pri...,hca

## Subset
Eventyrerne er samlet i én dataframe. Når vi har data samlet kan vi begynde at lave "subsets". Det vil sige, at vi inddeler data i mindre datasæt. Lad os afprøve det og lave forskellige subsets.


"The fairy tales are collected in one dataframe. Once we have the data gathered, we can start creating 'subsets.' This means dividing the data into smaller datasets. Let's try it and create different subsets."

In [8]:
df_hca = df[df['author'] == 'hca']
df_grimm = df[df['author'] == 'grimms']
df_queen = df[df['title'].str.contains('QUEEN')]
df_king = df[df['text'].str.contains('king')]
df_king

,title,text,author
0,ASHPUTTEL,ASHPUTTEL\n\n\n\n\n\nThe wife of a rich man fe...,grimms
1,BRIAR ROSE,BRIAR ROSE\n\n\n\n\n\nA king and queen once up...,grimms
2,CAT AND MOUSE IN PARTNERSHIP,CAT AND MOUSE IN PARTNERSHIP\n\n\n\n\n\nA cert...,grimms
3,CAT-SKIN,"CAT-SKIN\n\n\n\n\n\nThere was once a king, who...",grimms
5,CLEVER GRETEL,CLEVER GRETEL\n\n\n\n\n\nThere was once a cook...,grimms
...,...,...,...
74,THE SHADOW,THE SHADOW\n\n\n\nIt is in the hot lands that ...,hca
75,THE SHOES OF FORTUNE,THE SHOES OF FORTUNE\n\n\n\nI. A Beginning\n\n...,hca
76,THE SNOW QUEEN,THE SNOW QUEEN\n\n\n\nFIRST STORY. Which Treat...,hca
77,THE STORY OF A MOTHER,THE STORY OF A MOTHER\n\n\n\nA mother sat ther...,hca
78,THE SWINEHERD,THE SWINEHERD\n\n\n\nThere was once a poor Pri...,hca

## Metoder i Pandas
Vi vil gerne undersøge, hvordan de forskellige eventyr adskiller sig fra hinanden i brugen af dyr. Sådan en undersøgelse kunne f.eks. inkludere, en undersøgelse af antallet af gange dyr bliver nævnt i eventyrene. Når vi beregner det, så skal vi gøre brug af forskellige pandas metoder, men vi skal også huske på at eventyrene ikke er lige lange, så hvis vi blot sammentæller antallet af gange, dyr bliver nævnt i de respektive eventyr, så vil det blive svært at sammenligne resultaterne. Løsningen er at normalisere resultaterne ved at dividere antallet af gange et dyr optræder (hits) med antal af ord (total).

Det vil ofte være det letteste at begynde med at bygge noget simpelt og hverefter omdanne konden til en funktion, som kan klare flere opgaver på samme tid. Vi begynder med at bygge noget, som kan undersøge en forekomst af et enkelt dyr og arbejder videre derfra.



Methods in Pandas
We would like to examine how different fairy tales differ in their use of animals. Such an analysis could, for example, include an investigation into the number of times animals are mentioned in the tales. When calculating this, we will need to use various pandas methods, but we should also keep in mind that the tales are not of equal length. So, if we simply count the number of times animals are mentioned in the respective tales, it would be difficult to compare the results. The solution is to normalize the results by dividing the number of times an animal appears (hits) by the total number of words.

It is often easiest to start by building something simple and then transform the code into a function that can handle multiple tasks at once. We'll begin by building something that can investigate a single animal occurrence and proceed from there.

In [9]:
search_term = 'bird'

data_frame = df

# Antal af ord / sum of words
hits = data_frame['text'].str.count(search_term).sum()
 
# Det totale antal af ord / words in total
total = data_frame['text'].str.split().str.len().sum()

# Den relative frekvens beregning / the relative frequency
rf = hits / total * 10000

print(rf)




### Ombygget til en funktion // Rebuild into a function ### 

def rel_freq(data_frame, column_name, search_term):
    hits1 = data_frame[column_name].str.count(search_term).sum()
    total1 = data_frame[column_name].str.split().str.len().sum()
    rf1 = ( hits1 / total1 ) * 10000
    return rf1


## Test funktionen / test the function

rel_freq(df, 'text', 'bird')

10.795694728969533

10.795694728969533

# Afprøv funktion med en liste af dyr
Vi har en funktion, der kan tage en dataframe, et kolonnenavn og et dyr og returnere en relativ frekvens. Det er relativ omkostningsfrit at udvide undersøgelse til at inkludere en længere dyrenavnsliste med dyrenavnene i ental og flertal. Listen kan vi løbe igennem med et loop og vi kan vha. funktionen få returneret relative frekvenser.


Test the function with a list of animals

We have a function that can take a dataframe, a column name, and an animal and return a relative frequency. It is relatively straightforward to expand the analysis to include a longer list of animal names in both singular and plural forms. We can iterate through the list using a loop and use the function to return relative frequencies.

In [10]:
fairy_tale_animals = [
    "swan", "swans",
    "mermaid", "mermaids",
    "nightingale", "nightingales",
    "duck", "ducks",
    "fish", "fish",
    "butterfly", "butterflies",
    "beetle", "beetles",
    "swallow", "swallows",
    "dolphin", "dolphins",
    "seahorse", "seahorses",
    "wolf", "wolves",
    "frog", "frogs",
    "donkey", "donkeys",
    "raven", "ravens",
    "bird", "birds",
    "cat", "cats",
    "mouse", "mice",
    "fox", "foxes",
    "horse", "horses",
    "pig", "pigs",
    "bear", "bears",
    "lion", "lions",
    "snake", "snakes"
]


for i in fairy_tale_animals:
    rf = round ( rel_freq( df_hca , 'text', i), 4 )
    print (f'Relativ frequence of {i}: {rf}')

Relativ frequence of swan: 0.3765
Relativ frequence of swans: 0.3765
Relativ frequence of mermaid: 0.0
Relativ frequence of mermaids: 0.0
Relativ frequence of nightingale: 0.9414
Relativ frequence of nightingales: 0.0
Relativ frequence of duck: 0.0
Relativ frequence of ducks: 0.0
Relativ frequence of fish: 0.9414
Relativ frequence of fish: 0.9414
Relativ frequence of butterfly: 0.0
Relativ frequence of butterflies: 0.0
Relativ frequence of beetle: 0.0
Relativ frequence of beetles: 0.0
Relativ frequence of swallow: 0.9414
Relativ frequence of swallows: 0.5648
Relativ frequence of dolphin: 0.0
Relativ frequence of dolphins: 0.0
Relativ frequence of seahorse: 0.0
Relativ frequence of seahorses: 0.0
Relativ frequence of wolf: 0.0
Relativ frequence of wolves: 0.1883
Relativ frequence of frog: 1.6945
Relativ frequence of frogs: 0.1883
Relativ frequence of donkey: 0.0
Relativ frequence of donkeys: 0.0
Relativ frequence of raven: 0.3765
Relativ frequence of ravens: 0.1883
Relativ frequence of bird: 5.2717
Relativ frequence of birds: 2.2593
Relativ frequence of cat: 3.3889
Relativ frequence of cats: 0.0
Relativ frequence of mouse: 0.0
Relativ frequence of mice: 0.0
Relativ frequence of fox: 0.3765
Relativ frequence of foxes: 0.1883
Relativ frequence of horse: 2.6358
Relativ frequence of horses: 0.9414
Relativ frequence of pig: 1.5062
Relativ frequence of pigs: 0.5648
Relativ frequence of bear: 5.46
Relativ frequence of bears: 0.5648
Relativ frequence of lion: 2.071
Relativ frequence of lions: 0.5648
Relativ frequence of snake: 0.7531
Relativ frequence of snakes: 0.5648

## Databehandling med .apply() og .iterrows() metoderne

Vi vil gerrne analysere eventyrernes dyrekontekster yderligere. For at få et overblik over de relevante konteksters splitter vi først teksterne op i sætninger. Dernæst søger vi efter de sætninger, hvor der indgår et dyrenavn, og til sidst printer vi de relevante sætninger.

Når vi gør det, får vi brug for metoderne .apply() og .iterrows().

Vi begynder med .apply() som vi altid bruger sammen med en funktion.

Funktionen skriver vi først og herefter applicerer vi den. 



Data processing with the .apply() and .iterrows() methods
We want to further analyze the animal contexts within the fairy tales. To get an overview of the relevant contexts, we first break down the texts into sentences. Then, we search for sentences that contain an animal name, and finally, we print the relevant sentences.

To do this, we will need the .apply() and .iterrows() methods.

We'll start with .apply(), which we always use in conjunction with a function.

First, we define the function, and then we apply it.

In [11]:
# Dette er en funktion kaldet 'split_text'. 
# Den tager en tekst som input og opdeler den i afsnit ved hjælp af punktum som afgrænsning.

# This is a function called 'split_text' 
# It takes a text as input and splits it into paragraphs using periods as the delimiter.



def split_text(row):
    paragraphs = row.split('.')  # / splitter på punktum /  Split the text into paragraphs using periods as separators.
    return paragraphs  # Sender en liste af sætninger retur / Return the list of paragraphs.




# Denne linje anvender 'split_text'-funktionen på hver række i 'text'-kolonnen i dataframen'df'.
# Det opretter en ny kolonne kaldet 'paragraph' til at gemme den segmenterede tekst.

# This line applies the 'segmenter' function to each row in the 'text' column of the DataFramen 'df'.
# It creates a new column called 'paragraphs' to store the segmented text.



df['paragraphs'] = df['text'].apply(lambda row: split_text(row))

In [12]:
df

,title,text,author,paragraphs
0,ASHPUTTEL,ASHPUTTEL\n\n\n\n\n\nThe wife of a rich man fe...,grimms,[ASHPUTTEL\n\n\n\n\n\nThe wife of a rich man f...
1,BRIAR ROSE,BRIAR ROSE\n\n\n\n\n\nA king and queen once up...,grimms,[BRIAR ROSE\n\n\n\n\n\nA king and queen once u...
2,CAT AND MOUSE IN PARTNERSHIP,CAT AND MOUSE IN PARTNERSHIP\n\n\n\n\n\nA cert...,grimms,[CAT AND MOUSE IN PARTNERSHIP\n\n\n\n\n\nA cer...
3,CAT-SKIN,"CAT-SKIN\n\n\n\n\n\nThere was once a king, who...",grimms,"[CAT-SKIN\n\n\n\n\n\nThere was once a king, wh..."
4,CLEVER ELSIE,CLEVER ELSIE\n\n\n\n\n\nThere was once a man w...,grimms,[CLEVER ELSIE\n\n\n\n\n\nThere was once a man ...
...,...,...,...,...
74,THE SHADOW,THE SHADOW\n\n\n\nIt is in the hot lands that ...,hca,[THE SHADOW\n\n\n\nIt is in the hot lands that...
75,THE SHOES OF FORTUNE,THE SHOES OF FORTUNE\n\n\n\nI. A Beginning\n\n...,hca,"[THE SHOES OF FORTUNE\n\n\n\nI, A Beginning\n..."
76,THE SNOW QUEEN,THE SNOW QUEEN\n\n\n\nFIRST STORY. Which Treat...,hca,"[THE SNOW QUEEN\n\n\n\nFIRST STORY, Which Tre..."
77,THE STORY OF A MOTHER,THE STORY OF A MOTHER\n\n\n\nA mother sat ther...,hca,[THE STORY OF A MOTHER\n\n\n\nA mother sat the...
78,THE SWINEHERD,THE SWINEHERD\n\n\n\nThere was once a poor Pri...,hca,[THE SWINEHERD\n\n\n\nThere was once a poor Pr...

# use .iterrows()

In [13]:
# Funktionen nedenfor tager en dataframe og et søgeord som input. /
# This is a function called 'get_paragraphs' that takes a DataFrame and a search term as input.


def get_paragraphs(data_frame, search_term):
    # gennemløber rækkerne med .iterrows() / Iterate over rows using iterrows()
    for index, row in data_frame.iterrows():
        for p in row['paragraphs']:
            # # undersøger om søgeordet er i listen af paragraffer / Check if the search term exists in the current paragraph
            if search_term in p:
                # Gemmer forfatter og titel / Retrieve author and title information from the current row
                au = row['author']
                ti = row['title']
                # Print a separator line
                print('*' * 20)
                # # Skriver hvor søgeordet er blevet fundet / Print a message indicating where the search term was found
                print(f'In {au.upper()} fairy tale {ti}, the word {search_term.upper()} is in this paragraph:\n {p}')
                print('\n')

# Kør funktionen / Call the 'get_paragraphs' function with the DataFrame 'df' and the search term 'nightingale'
get_paragraphs(df, 'nightingale')

********************
In GRIMMS fairy tale JORINDA AND JORINDEL, the word NIGHTINGALE is in this paragraph:
  Jorindel turned to see the reason, and

beheld his Jorinda changed into a nightingale, so that her song ended

with a mournful _jug, jug_


********************
In GRIMMS fairy tale JORINDA AND JORINDEL, the word NIGHTINGALE is in this paragraph:




She mumbled something to herself, seized the nightingale, and went away

with it in her hand


********************
In GRIMMS fairy tale JORINDA AND JORINDEL, the word NIGHTINGALE is in this paragraph:
  Poor Jorindel saw the nightingale was gone--but

what could he do? He could not speak, he could not move from the spot

where he stood


********************
In GRIMMS fairy tale JORINDA AND JORINDEL, the word NIGHTINGALE is in this paragraph:
  He looked around at

the birds, but alas! there were many, many nightingales, and how then

should he find out which was his Jorinda? While he was thinking what to

do, he saw the fairy had taken down one of the cages, and was making the

best of her way off through the door


********************
In HCA fairy tale THE BELL, the word NIGHTINGALE is in this paragraph:
  Woodroof and anemonies grew almost too high; blooming

convolvuluses and blackberry-bushes hung in long garlands from tree to

tree, where the nightingale sang and the sunbeams were playing: it was

very beautiful, but it was no place for girls to go; their clothes would

get so torn


********************
In HCA fairy tale THE SWINEHERD, the word NIGHTINGALE is in this paragraph:




And furthermore, the Prince had a nightingale, who could sing in such a

manner that it seemed as though all sweet melodies dwelt in her little

throat


********************
In HCA fairy tale THE SWINEHERD, the word NIGHTINGALE is in this paragraph:
  So the Princess was to have the rose, and the nightingale; and

they were accordingly put into large silver caskets, and sent to her


********************
In HCA fairy tale THE SWINEHERD, the word NIGHTINGALE is in this paragraph:
  So the nightingale came forth and sang so

delightfully that at first no one could say anything ill-humored of her


********************
In HCA fairy tale THE SWINEHERD, the word NIGHTINGALE is in this paragraph:
  “Thou would'st not have an

honorable Prince! Thou could'st not prize the rose and the nightingale,

but thou wast ready to kiss the swineherd for the sake of a trumpery

plaything

# Visualisering af tekstlængde
Vi vil lave en visualisering af datafordelingen. Til dette skal vi bruge et histogram.

Vi skal finde ud af, hvor mange søljer vi skal have. Til at beregne dette bruger vi formlen antal søjler = log(n) / log(2), hvor n er antal af værdier.

Og vi skal finde ud af, hvor bredde søjlerne cirka skal være. søjleinddeling =(største værdi - mindste værdi ) /( antal søjler ). 

_Kilde: 
  Stjernholm Madsen, Birger., Birger Stjernholm Madsen, and Birger. Stjernholm Madsen. Statistik for ikke-statistikere. 1. udgave. Frederiksberg: Samfundslitteratur, 2008. Print._

In [14]:
# statistik på tekstlængde
df['text_len'] = df['text'].apply(lambda x :len(x))

In [15]:
import numpy as np

# Number of columns
def n_columns(n):
    return round ( np.log(n) / np.log(2) )
   
    
print (f' Antal søjler er {n_columns( len(df))} og søljebredden er {round ( (data.max() - data.min()) / num_bins, -1 )}')

NameError: name 'data' is not defined

For at få nogle "pæne" tal runder vi søjlebredden op til nærmeste 10'er og bruger seaborn bibliotekets histplot.

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Create a DataFrame from your data
data = df_grimm['text_len']

# Calculate the number of bins
num_bins = 6

# Calculate the width of each bin - round to nearest 10
bin_width = round ( (data.max() - data.min()) / num_bins, -1 )

# Calculate the interval midpoints
interval_midpoints = [data.min() + (i + 0.5) * bin_width for i in range(num_bins)]

# Create a histogram using Seaborn with custom bin edges
hist = sns.histplot(data=data, bins=num_bins)

# Set labels and title
plt.xlabel('Tekstlængde i tegn')
plt.ylabel('Antal tekster')
author = df.at[0, 'author']
plt.title(f'Histogram med interval midtpunkter i {author} eventyr')

# Set the x-axis ticks to display interval midpoints
hist.set_xticks(interval_midpoints)

# Show the plot
plt.show()

# Byg funktion af koden ovenfor og lav en dataframe med HCA's eventyr

In [16]:
# sti til mappen med tekster
text_folder = Path.cwd() / '../data/txt_files/hca'
text_files = os.listdir(text_folder)

def build_df(text_files, author_name):
    titles = []
    for i in text_files:
        title = str(i[:-4])
        titles.append(title)

    texts = []
    for item in text_files:
        with open( text_folder / item, 'r', encoding='utf-8-sig') as f:
            text = f.read()
            texts.append(text)

    df = pd.DataFrame({'title': titles,
                      'text':texts,
                      'author': author_name})
    
    return df

df2 = build_df(text_files, 'hca')

# statistik på tekstlængde
df2['text_len'] = df2['text'].apply(lambda x :len(x))

In [17]:
# Visualisering af tekstlængde til sammenligning

In [18]:
# Byg to serier
data1 = new_df[new_df['author'] == 'Grimms']['text_len']

data2 = new_df[new_df['author'] == 'hca']['text_len']


# figur og to subplots
fig, axes = plt.subplots(1, 2, figsize=(10, 5))

# Lav et boxplot subplots vha Seaborn
sns.boxplot(data=data1, ax=axes[0])
sns.boxplot(data=data2, ax=axes[1])

# Tilføj titler 
axes[0].set_title('Boxplot of Grimms')
axes[0].set_xlabel('Tekstlængde i tegn')
axes[1].set_title('Boxplot of HCA')
axes[1].set_xlabel('Tekstlængde i tegn')

#Vis plottet
plt.tight_layout()
plt.show()

NameError: name 'new_df' is not defined

In [19]:
def remove_outliers_IQR(data_frame, column_name):
    """
    Remove outliers from a column in a pandas DataFrame using the Interquartile Range (IQR) method.

    Parameters:
    data_frame (pandas.DataFrame): A pandas DataFrame.
    column_name (str): The name of the column containing numerical data.

    Returns:
    pandas.DataFrame: A DataFrame with outliers removed.
    """

    # Extract the specified column as a Series
    data_series = data_frame[column_name]

    # Calculate the first quartile (Q1) and the third quartile (Q3)
    q1 = data_series.quantile(0.25)
    q3 = data_series.quantile(0.75)

    # Calculate the Interquartile Range (IQR)
    IQR = q3 - q1

    # Determine the lower and upper bounds for outliers
    lower_bound = q1 - 1.5 * IQR
    upper_bound = q3 + 1.5 * IQR

    # Select data points that are not outliers based on the bounds
    not_outliers_df = data_frame[(data_frame[column_name] > lower_bound) & (data_frame[column_name] < upper_bound)]

    return not_outliers_df

In [20]:
new_hca = remove_outliers_IQR(df2, 'text_len').reset_index(drop=True)

In [21]:
# Byg to serier
data1 = new_df[new_df['author'] == 'Grimms']['text_len']

data2 = new_hca[new_hca['author'] == 'hca']['text_len']


# figur og to subplots
fig, axes = plt.subplots(1, 2, figsize=(10, 5))

# Lav et boxplot subplots vha Seaborn
sns.boxplot(data=data1, ax=axes[0])
sns.boxplot(data=data2, ax=axes[1])

# Tilføj titler 
axes[0].set_title('Boxplot of Grimms')
axes[0].set_xlabel('Tekstlængde i tegn')
axes[1].set_title('Boxplot of HCA')
axes[1].set_xlabel('Tekstlængde i tegn')

# Manuel indstilling af y-aksens grænser til tvinge visualiseringne til at være ens på begge subplots
y_max = max(data1.max(), data2.max())
axes[0].set_ylim(0, y_max)
axes[1].set_ylim(0, y_max)

#Vis plottet
plt.tight_layout()
plt.show()

NameError: name 'new_df' is not defined